In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sys
import os
import seaborn as sns

In [2]:
df=pd.read_csv('../data/us_CID_activity_2014_2017.csv')

In [3]:
df.head()

,idcampaign,idcampaign_master,idOffer,Offer_Name,Finance_Product,idadvertiser,idadvertiser_master,Advertiser_URL,idBusiness,Channel,...,Secondary_BSC_IDs,Seconardy_BSCs,BusinessSpecialtyID,BusinessSpecialty,TargetType,Radius_Target_Address,Radius_Target_Miles,Cities_Targetd,DMAs_Targeted,Population_Target
0,167394,167394,1.0,Search Engine Marketing,Search,32578,32578,http://www.savoierealty.com,3661.0,Partner,...,NaN,NaN,NaN,NaN,Radius,3735 Pontchartrain Drive,15.0,Lacombe; Pearl River; Slidell,New Orleans,51529.0
1,411413,411413,2.0,ReachDisplay Awareness,Display Remaining,72823,72823,http://www.dynaspy.com/,4661.0,DirectLocal,...,NaN,NaN,26614.0,Audio/Video Surveillance Systems,Country,NaN,NaN,NaN,NaN,0.0
2,424793,424793,2.0,ReachDisplay Awareness,Display Remaining,72784,72784,http://www.diskeraser.com,3574.0,DirectLocal,...,NaN,NaN,NaN,NaN,Country,NaN,NaN,NaN,NaN,0.0
3,455205,160659,1.0,Search Engine Marketing,Search,31440,31440,http://www.wellbridge.com/acn/,3619.0,National,...,2015; 2028,Health Clubs & Gyms; Personal Fitness Trainers,23270.0,Ankle & Thigh Weights,Radius,1515 Sheridan Rd. N.E.,10.0,Avondale Estates; Clarkston; Decatur; Stone Mo...,Atlanta,703976.0
4,509468,462662,308.0,KBB.com Used Cars Run of Site,Display Remaining,77416,77416,http://www.MartinHonda.com/,3910.0,DirectLocal,...,NaN,NaN,49545.0,Leases: Honda,Metro,NaN,NaN,NaN,Philadelphia,8322116.0

In [4]:
df.shape

(887709, 52)

In [5]:
df.columns

Index(['idcampaign', 'idcampaign_master', 'idOffer', 'Offer_Name',
       'Finance_Product', 'idadvertiser', 'idadvertiser_master',
       'Advertiser_URL', 'idBusiness', 'Channel', 'Country', 'Currency',
       'campaign_budget', 'Retail_Cost', 'COGS', 'Overage', 'impressions',
       'clicks', 'CVTs', 'qualified_calls', 'calls', 'emails',
       'qualified_web_events', 'Leads', 'CPC', 'CTR', 'CPL', 'CTL', 'Paid_On',
       'Cycle_Started', 'Cycle_Ended', 'MCID_Started', 'Cycle_Number',
       'Advertiser_BC_ID', 'Advertiser_BusinessCategory', 'Advertiser_BSC_ID',
       'Advertiser_BusinessSubCategory', 'BC_ID', 'BusinessCategory',
       'Primary_BSC_ID', 'Primary_BusinessSubCategory', 'Secondary_BSC_Count',
       'Secondary_BSC_IDs', 'Seconardy_BSCs', 'BusinessSpecialtyID',
       'BusinessSpecialty', 'TargetType', 'Radius_Target_Address',
       'Radius_Target_Miles', 'Cities_Targetd', 'DMAs_Targeted',
       'Population_Target'],
      dtype='object')

In [6]:
df.Country.unique()

array(['USA', nan], dtype=object)

In [7]:
df.Currency.unique()

array(['USD', nan], dtype=object)

In [8]:
df.Channel.unique()

array(['Partner', 'DirectLocal', 'National', 'Deals', nan], dtype=object)

In [10]:
df.drop(columns=['Country', 'Currency'], axis=1, inplace=True)

In [13]:
df.dtypes

idcampaign                          int64
idcampaign_master                   int64
idOffer                           float64
Offer_Name                         object
Finance_Product                    object
idadvertiser                        int64
idadvertiser_master                 int64
Advertiser_URL                     object
idBusiness                        float64
Channel                            object
campaign_budget                   float64
Retail_Cost                       float64
COGS                              float64
Overage                           float64
impressions                         int64
clicks                              int64
CVTs                                int64
qualified_calls                     int64
calls                               int64
emails                              int64
qualified_web_events                int64
Leads                               int64
CPC                               float64
CTR                               float64
CPL                               float64
CTL                               float64
Paid_On                            object
Cycle_Started                      object
Cycle_Ended                        object
MCID_Started                       object
Cycle_Number                      float64
Advertiser_BC_ID                  float64
Advertiser_BusinessCategory        object
Advertiser_BSC_ID                 float64
Advertiser_BusinessSubCategory     object
BC_ID                               int64
BusinessCategory                   object
Primary_BSC_ID                    float64
Primary_BusinessSubCategory        object
Secondary_BSC_Count                 int64
Secondary_BSC_IDs                  object
Seconardy_BSCs                     object
BusinessSpecialtyID               float64
BusinessSpecialty                  object
TargetType                         object
Radius_Target_Address              object
Radius_Target_Miles               float64
Cities_Targetd                     object
DMAs_Targeted                      object
Population_Target                 float64
dtype: object

In [15]:
df.Cycle_Started.iloc[1:5]

1    2009-10-07
2    2009-10-22
3    2009-12-04
4    2010-03-12
Name: Cycle_Started, dtype: object

In [16]:
df.isna().sum()

idcampaign                             0
idcampaign_master                      0
idOffer                              277
Offer_Name                           436
Finance_Product                      436
idadvertiser                           0
idadvertiser_master                    0
Advertiser_URL                     33531
idBusiness                            11
Channel                               11
campaign_budget                        0
Retail_Cost                            0
COGS                                   0
Overage                                0
impressions                            0
clicks                                 0
CVTs                                   0
qualified_calls                        0
calls                                  0
emails                                 0
qualified_web_events                   0
Leads                                  0
CPC                               216031
CTR                               242716
CPL                               169441
CTL                               169441
Paid_On                              278
Cycle_Started                        279
Cycle_Ended                        17980
MCID_Started                           4
Cycle_Number                           4
Advertiser_BC_ID                      11
Advertiser_BusinessCategory           11
Advertiser_BSC_ID                    586
Advertiser_BusinessSubCategory       586
BC_ID                                  0
BusinessCategory                       0
Primary_BSC_ID                     22830
Primary_BusinessSubCategory        22830
Secondary_BSC_Count                    0
Secondary_BSC_IDs                 788517
Seconardy_BSCs                    788517
BusinessSpecialtyID               527280
BusinessSpecialty                 527280
TargetType                             0
Radius_Target_Address             400844
Radius_Target_Miles               400611
Cities_Targetd                    306347
DMAs_Targeted                      58684
Population_Target                    119
dtype: int64

In [17]:
df.TargetType.unique()

array(['Radius', 'Country', 'Metro', 'City', 'PostCode'], dtype=object)

In [18]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
idcampaign,887709.0,1.957760e+06,2.769899e+05,167394.0,1.722427e+06,1.960336e+06,2.196162e+06,2.434156e+06
idcampaign_master,887709.0,1.498309e+06,5.801177e+05,820.0,1.174745e+06,1.601098e+06,1.937641e+06,2.432526e+06
idOffer,887432.0,4.646627e+02,7.174063e+02,1.0,1.000000e+00,1.000000e+00,9.980000e+02,2.015000e+03
idadvertiser,887709.0,1.461383e+05,4.502145e+04,103.0,1.283320e+05,1.610000e+05,1.786100e+05,2.279980e+05
idadvertiser_master,887709.0,1.294918e+05,5.111441e+04,28.0,9.692400e+04,1.414910e+05,1.716000e+05,2.279840e+05
idBusiness,887698.0,8.773853e+03,4.951718e+03,4.0,3.997000e+03,7.300000e+03,1.432700e+04,1.661700e+04
campaign_budget,887709.0,1.194023e+03,2.762814e+03,0.0,3.000000e+02,8.000000e+02,1.498990e+03,3.500000e+05
Retail_Cost,887709.0,1.157559e+03,2.741063e+03,0.0,2.990000e+02,7.500000e+02,1.400000e+03,3.500000e+05
COGS,887709.0,5.218550e+02,1.658578e+03,0.0,7.400000e+01,2.786300e+02,6.148900e+02,2.171401e+05
Overage,887709.0,-1.322790e+01,1.044029e+02,-42120.0,-1.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00
impressions,887709.0,3.387511e+04,1.594925e+05,0.0,0.000000e+00,9.046000e+03,2.731000e+04,3.456128e+07
clicks,887709.0,4.727241e+02,1.227104e+03,0.0,1.100000e+01,1.900000e+02,4.970000e+02,1.083220e+05
CVTs,887709.0,1.420290e+02,2.003347e+03,0.0,0.000000e+00,2.000000e+00,1.800000e+01,4.460890e+05
qualified_calls,887709.0,2.018340e+01,1.107100e+02,0.0,0.000000e+00,4.000000e+00,1.800000e+01,2.818800e+04
calls,887709.0,4.183176e+01,2.229168e+02,0.0,1.000000e+00,1.300000e+01,4.200000e+01,6.127600e+04
emails,887709.0,1.743641e+00,1.209748e+01,0.0,0.000000e+00,0.000000e+00,0.000000e+00,2.116000e+03
qualified_web_events,887709.0,9.366241e+00,9.136617e+01,0.0,0.000000e+00,0.000000e+00,3.000000e+00,1.337500e+04
Leads,887709.0,5.294164e+01,2.496726e+02,0.0,2.000000e+00,1.700000e+01,5.100000e+01,6.127600e+04
CPC,671678.0,5.002039e+00,2.597508e+01,0.0,1.515846e+00,3.004020e+00,5.642013e+00,1.086411e+04
CTR,644993.0,4.351290e-02,1.834371e+00,0.0,1.220000e-02,2.220000e-02,3.650000e-02,8.770000e+02
CPL,718268.0,9.658691e+01,2.886734e+02,0.0,1.107651e+01,2.985075e+01,7.894737e+01,5.577470e+04
CTL,718268.0,3.482247e+01,2.164394e+02,0.0,3.337700e+00,8.046450e+00,2.053850e+01,7.184000e+04
Cycle_Number,887705.0,2.409005e+01,2.668416e+01,1.0,5.000000e+00,1.300000e+01,3.400000e+01,2.100000e+02
Advertiser_BC_ID,887698.0,1.707487e+01,7.902511e+00,1.0,1.000000e+01,2.100000e+01,2.200000e+01,3.200000e+01
Advertiser_BSC_ID,887123.0,1.733309e+03,7.915829e+02,100.0,1.008000e+03,2.101000e+03,2.220000e+03,3.301000e+03
BC_ID,887709.0,1.706211e+01,7.919903e+00,1.0,1.000000e+01,2.100000e+01,2.200000e+01,3.200000e+01
Primary_BSC_ID,864879.0,1.740907e+03,7.936812e+02,100.0,1.099000e+03,2.102000e+03,2.224000e+03,3.301000e+03
Secondary_BSC_Count,887709.0,2.293049e-01,1.736493e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,9.500000e+01
BusinessSpecialtyID,360429.0,2.384767e+04,1.138530e+04,1.0,1.728600e+04,2.530100e+04,2.875000e+04,5.032100e+04
Radius_Target_Miles,487098.0,2.188445e+01,1.493909e+01,10.0,1.000000e+01,2.000000e+01,2.500000e+01,1.000000e+02
Population_Target,887590.0,3.031419e+06,5.587754e+06,0.0,3.843520e+05,1.269433e+06,3.195087e+06,1.453497e+08

In [19]:
df[df.campaign_budget == 0.0]['idadvertiser_master'].shape

(67018,)

In [21]:
df[df.campaign_budget == 0.0]['idadvertiser_master'].nunique()

6374

In [22]:
keri_df=pd.read_csv('../data/keri_churn_data_tidy.csv')

In [23]:
keri_df.columns

Index(['csr_year_varchar', 'csr_month_varchar', 'idcampaign_master_varchar',
       'idcampaign_varchar', 'idadvertiser_varchar', 'advertiser_name_varchar',
       'advertiser_city_varchar', 'advertiser_state_varchar',
       'advertiser_zipcode_varchar', 'idbusinesscategory_varchar',
       'business_category_varchar', 'idbusinesssubcategory_varchar',
       'business_subcategory_varchar', 'idoffer_varchar', 'product_varchar',
       'stop_request_varchar', 'adv_change_type_varchar',
       'campaign_budget_varchar', 'spend_varchar', 'clicks_varchar',
       'impressions_varchar', 'calls_varchar', 'qualified_calls_varchar',
       'emails_varchar', 'cvt_varchar', 'qualified_web_events_varchar',
       'businessuser_varchar', 'system_varchar', 'advtrans_varchar'],
      dtype='object')

In [24]:
keri_df.csr_year_varchar.dtypes

dtype('int64')

In [25]:
keri_df=keri_df[(keri_df.csr_year_varchar >=2014) & (keri_df.csr_year_varchar <=2017)]

In [26]:
keri_df.shape

(1487205, 29)

In [27]:
df.shape

(887709, 50)

In [28]:
df.idadvertiser.nunique()

49353

In [29]:
keri_df.idadvertiser_varchar.nunique()

42072

In [30]:
df.idcampaign_master.nunique()

100352

In [32]:
keri_df.idcampaign_master_varchar.nunique()

71524

In [33]:
df.idadvertiser_master.nunique()

38042

In [43]:
temp=df.idadvertiser_master.value_counts()
temp[(8<temp) & (temp< 10)][0:5]

40753     9
191381    9
175074    9
125051    9
147136    9
Name: idadvertiser_master, dtype: int64

In [89]:
df[df.idadvertiser_master==40753][['idadvertiser','idcampaign', 'idcampaign_master','Paid_On', 
                                   'Cycle_Started', 'Cycle_Ended','Cycle_Number','clicks']].sort_values(by=['idcampaign'])

,idadvertiser,idcampaign,idcampaign_master,Paid_On,Cycle_Started,Cycle_Ended,Cycle_Number,clicks
14210,40753,1496712,991929,2014-01-13,2014-01-13,2014-02-08,17.0,62
18160,40753,1501143,991953,2014-01-18,2014-01-19,2014-02-12,22.0,149
55530,40753,1542337,991929,2014-02-07,2014-02-08,2014-03-06,18.0,81
55824,40753,1542694,991953,2014-02-20,2014-02-20,2014-03-19,23.0,150
72028,40753,1560592,991929,2014-03-04,2014-03-06,2014-03-31,19.0,78
80109,40753,1569250,991953,2014-03-27,2014-03-27,2014-04-24,24.0,152
86408,40753,1575877,991929,2014-03-25,2014-03-31,2014-04-29,20.0,87
103475,40753,1594535,991953,2014-05-01,2014-05-01,2014-05-28,25.0,139
106734,40753,1597984,991929,2014-05-01,2014-05-01,2014-05-29,21.0,65

In [55]:
df[df.idadvertiser_master==40753][['idadvertiser','idcampaign', 'idcampaign_master','Paid_On', 
                                   'Cycle_Started', 'Cycle_Ended','Cycle_Number']]['idcampaign'].nunique()

9

In [50]:
(df.idadvertiser == df.idadvertiser_master).sum() == df.idadvertiser.shape[0]

False

In [51]:
# All the instances where advertiser_id is the same as advertiser_master_id
(df.idadvertiser == df.idadvertiser_master).sum()

551132

In [57]:
keri_df[keri_df.idadvertiser_varchar==40753].sort_values(by=['idcampaign_varchar'])

,csr_year_varchar,csr_month_varchar,idcampaign_master_varchar,idcampaign_varchar,idadvertiser_varchar,advertiser_name_varchar,advertiser_city_varchar,advertiser_state_varchar,advertiser_zipcode_varchar,idbusinesscategory_varchar,...,clicks_varchar,impressions_varchar,calls_varchar,qualified_calls_varchar,emails_varchar,cvt_varchar,qualified_web_events_varchar,businessuser_varchar,system_varchar,advtrans_varchar
2194417,2014,1,991929,1496712,40753,Mr. Rooter of Spokane,Hayden,ID,83835.0,21.0,...,41.0,3620.0,17.0,9.0,0.0,3.0,1.0,0.0,57.0,0.0
2194418,2014,2,991929,1496712,40753,Mr. Rooter of Spokane,Hayden,ID,83835.0,21.0,...,21.0,1452.0,16.0,11.0,0.0,0.0,0.0,0.0,16.0,0.0
2194682,2014,1,991953,1501143,40753,Mr. Rooter of Spokane,Hayden,ID,83835.0,21.0,...,55.0,6037.0,44.0,18.0,0.0,4.0,1.0,0.0,38.0,0.0
2194683,2014,2,991953,1501143,40753,Mr. Rooter of Spokane,Hayden,ID,83835.0,21.0,...,94.0,6279.0,58.0,35.0,0.0,12.0,3.0,0.0,45.0,0.0
2194419,2014,2,991929,1542337,40753,Mr. Rooter of Spokane,Hayden,ID,83835.0,21.0,...,54.0,4737.0,29.0,19.0,0.0,0.0,0.0,2.0,69.0,0.0
2194420,2014,3,991929,1542337,40753,Mr. Rooter of Spokane,Hayden,ID,83835.0,21.0,...,27.0,1894.0,8.0,7.0,0.0,2.0,0.0,0.0,7.0,0.0
2194684,2014,2,991953,1542694,40753,Mr. Rooter of Spokane,Hayden,ID,83835.0,21.0,...,46.0,2260.0,34.0,21.0,0.0,2.0,0.0,0.0,42.0,0.0
2194685,2014,3,991953,1542694,40753,Mr. Rooter of Spokane,Hayden,ID,83835.0,21.0,...,104.0,7632.0,83.0,54.0,0.0,10.0,2.0,0.0,63.0,0.0
2194421,2014,3,991929,1560592,40753,Mr. Rooter of Spokane,Hayden,ID,83835.0,21.0,...,78.0,7142.0,28.0,25.0,0.0,6.0,0.0,4.0,81.0,0.0
2194423,2014,4,991929,1560592,40753,Mr. Rooter of Spokane,Hayden,ID,83835.0,21.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0
2194686,2014,3,991953,1569250,40753,Mr. Rooter of Spokane,Hayden,ID,83835.0,21.0,...,20.0,1875.0,16.0,10.0,0.0,0.0,0.0,0.0,23.0,0.0
2194687,2014,4,991953,1569250,40753,Mr. Rooter of Spokane,Hayden,ID,83835.0,21.0,...,132.0,10254.0,90.0,52.0,0.0,9.0,2.0,0.0,78.0,0.0
2194422,2014,3,991929,1575877,40753,Mr. Rooter of Spokane,Hayden,ID,83835.0,21.0,...,3.0,173.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2194424,2014,4,991929,1575877,40753,Mr. Rooter of Spokane,Hayden,ID,83835.0,21.0,...,84.0,4519.0,37.0,31.0,0.0,1.0,0.0,0.0,73.0,0.0
2194688,2014,5,991953,1594535,40753,Mr. Rooter of Spokane,Hayden,ID,83835.0,21.0,...,139.0,10290.0,100.0,49.0,0.0,7.0,2.0,8.0,91.0,0.0
2194425,2014,5,991929,1597984,40753,Mr. Rooter of Spokane,Hayden,ID,83835.0,21.0,...,65.0,3389.0,35.0,26.0,0.0,3.0,0.0,23.0,75.0,0.0

In [56]:
keri_df[keri_df.idadvertiser_varchar==40753]['idcampaign_varchar'].nunique()

9

In [85]:
test_df=df[['idadvertiser','idcampaign', 'idcampaign_master','Paid_On', 
                                   'Cycle_Started', 'Cycle_Ended','Cycle_Number','clicks']]

In [74]:
temp=pd.to_datetime(test_df.Cycle_Started, format='%Y-%m-%d',  errors='ignore')

cycle=temp.map(lambda x: x.month)

test_df['cycle_start_month']=pd.DataFrame(data=cycle, index=test_df.index)



temp=pd.to_datetime(test_df.Cycle_Ended, format='%Y-%m-%d',  errors='ignore')

cycle=temp.map(lambda x: x.month)

test_df['cycle_end_month']=pd.DataFrame(data=cycle, index=test_df.index)

/home/farshad/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/home/farshad/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [82]:
test_df.iloc[0:5,:].stack()

0  idadvertiser              32578
   idcampaign               167394
   idcampaign_master        167394
   Paid_On              2016-01-07
   Cycle_Started        2016-01-11
   Cycle_Ended          2016-02-08
   Cycle_Number                  1
   cycle_start_month             1
   cycle_end_month               2
1  idadvertiser              72823
   idcampaign               411413
   idcampaign_master        411413
   Paid_On              2009-09-29
   Cycle_Started        2009-10-07
   Cycle_Ended          2013-12-31
   Cycle_Number                  1
   cycle_start_month            10
   cycle_end_month              12
2  idadvertiser              72784
   idcampaign               424793
   idcampaign_master        424793
   Paid_On              2009-10-14
   Cycle_Started        2009-10-22
   Cycle_Ended          2015-07-21
   Cycle_Number                  1
   cycle_start_month            10
   cycle_end_month               7
3  idadvertiser              31440
   idcampaign               455205
   idcampaign_master        160659
   Paid_On              2009-12-01
   Cycle_Started        2009-12-04
   Cycle_Ended          2014-05-01
   Cycle_Number                 21
   cycle_start_month            12
   cycle_end_month               5
4  idadvertiser              77416
   idcampaign               509468
   idcampaign_master        462662
   Paid_On              2010-03-08
   Cycle_Started        2010-03-12
   Cycle_Ended          2017-04-07
   Cycle_Number                  3
   cycle_start_month             3
   cycle_end_month               4
dtype: object

In [83]:
keri_df.idcampaign_varchar.nunique()

720918

In [84]:
df.idcampaign.nunique()

887709