In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sys
import os
import seaborn as sns

In [2]:
df=pd.read_csv('../data/us_CID_activity_2014_2017.csv') # Read the data

In [3]:
df.head() # Take a quick look

,idcampaign,idcampaign_master,idOffer,Offer_Name,Finance_Product,idadvertiser,idadvertiser_master,Advertiser_URL,idBusiness,Channel,...,Secondary_BSC_IDs,Seconardy_BSCs,BusinessSpecialtyID,BusinessSpecialty,TargetType,Radius_Target_Address,Radius_Target_Miles,Cities_Targetd,DMAs_Targeted,Population_Target
0,167394,167394,1.0,Search Engine Marketing,Search,32578,32578,http://www.savoierealty.com,3661.0,Partner,...,NaN,NaN,NaN,NaN,Radius,3735 Pontchartrain Drive,15.0,Lacombe; Pearl River; Slidell,New Orleans,51529.0
1,411413,411413,2.0,ReachDisplay Awareness,Display Remaining,72823,72823,http://www.dynaspy.com/,4661.0,DirectLocal,...,NaN,NaN,26614.0,Audio/Video Surveillance Systems,Country,NaN,NaN,NaN,NaN,0.0
2,424793,424793,2.0,ReachDisplay Awareness,Display Remaining,72784,72784,http://www.diskeraser.com,3574.0,DirectLocal,...,NaN,NaN,NaN,NaN,Country,NaN,NaN,NaN,NaN,0.0
3,455205,160659,1.0,Search Engine Marketing,Search,31440,31440,http://www.wellbridge.com/acn/,3619.0,National,...,2015; 2028,Health Clubs & Gyms; Personal Fitness Trainers,23270.0,Ankle & Thigh Weights,Radius,1515 Sheridan Rd. N.E.,10.0,Avondale Estates; Clarkston; Decatur; Stone Mo...,Atlanta,703976.0
4,509468,462662,308.0,KBB.com Used Cars Run of Site,Display Remaining,77416,77416,http://www.MartinHonda.com/,3910.0,DirectLocal,...,NaN,NaN,49545.0,Leases: Honda,Metro,NaN,NaN,NaN,Philadelphia,8322116.0

In [3]:
df.shape # Check out the size

(887709, 52)

In [4]:
df.columns # Check out the columns

Index(['idcampaign', 'idcampaign_master', 'idOffer', 'Offer_Name',
       'Finance_Product', 'idadvertiser', 'idadvertiser_master',
       'Advertiser_URL', 'idBusiness', 'Channel', 'Country', 'Currency',
       'campaign_budget', 'Retail_Cost', 'COGS', 'Overage', 'impressions',
       'clicks', 'CVTs', 'qualified_calls', 'calls', 'emails',
       'qualified_web_events', 'Leads', 'CPC', 'CTR', 'CPL', 'CTL', 'Paid_On',
       'Cycle_Started', 'Cycle_Ended', 'MCID_Started', 'Cycle_Number',
       'Advertiser_BC_ID', 'Advertiser_BusinessCategory', 'Advertiser_BSC_ID',
       'Advertiser_BusinessSubCategory', 'BC_ID', 'BusinessCategory',
       'Primary_BSC_ID', 'Primary_BusinessSubCategory', 'Secondary_BSC_Count',
       'Secondary_BSC_IDs', 'Seconardy_BSCs', 'BusinessSpecialtyID',
       'BusinessSpecialty', 'TargetType', 'Radius_Target_Address',
       'Radius_Target_Miles', 'Cities_Targetd', 'DMAs_Targeted',
       'Population_Target'],
      dtype='object')

In [5]:
df.Country.unique() # Given that this is the US data, the NaNs are USA as well

array(['USA', nan], dtype=object)

In [6]:
df.Currency.unique() # Given that this is the US data, the NaNs are USD as well

array(['USD', nan], dtype=object)

In [7]:
df.Channel.unique() # Need to figure out what to do with NaNs

array(['Partner', 'DirectLocal', 'National', 'Deals', nan], dtype=object)

In [37]:
df.drop(columns=['Country', 'Currency', 'Advertiser_URL'], axis=1, inplace=True) # Useless data in this context

In [9]:
df.dtypes # Check the data types

idcampaign                          int64
idcampaign_master                   int64
idOffer                           float64
Offer_Name                         object
Finance_Product                    object
idadvertiser                        int64
idadvertiser_master                 int64
idBusiness                        float64
Channel                            object
campaign_budget                   float64
Retail_Cost                       float64
COGS                              float64
Overage                           float64
impressions                         int64
clicks                              int64
CVTs                                int64
qualified_calls                     int64
calls                               int64
emails                              int64
qualified_web_events                int64
Leads                               int64
CPC                               float64
CTR                               float64
CPL                               float64
CTL                               float64
Paid_On                            object
Cycle_Started                      object
Cycle_Ended                        object
MCID_Started                       object
Cycle_Number                      float64
Advertiser_BC_ID                  float64
Advertiser_BusinessCategory        object
Advertiser_BSC_ID                 float64
Advertiser_BusinessSubCategory     object
BC_ID                               int64
BusinessCategory                   object
Primary_BSC_ID                    float64
Primary_BusinessSubCategory        object
Secondary_BSC_Count                 int64
Secondary_BSC_IDs                  object
Seconardy_BSCs                     object
BusinessSpecialtyID               float64
BusinessSpecialty                  object
TargetType                         object
Radius_Target_Address              object
Radius_Target_Miles               float64
Cities_Targetd                     object
DMAs_Targeted                      object
Population_Target                 float64
dtype: object

In [10]:
df.TargetType.unique() # What's this column?

array(['Radius', 'Country', 'Metro', 'City', 'PostCode'], dtype=object)

In [11]:
df.describe().T # Let's get a feel for the data --> There are campaign budgets equal to zero!

,count,mean,std,min,25%,50%,75%,max
idcampaign,887709.0,1.957760e+06,2.769899e+05,167394.0,1.722427e+06,1.960336e+06,2.196162e+06,2.434156e+06
idcampaign_master,887709.0,1.498309e+06,5.801177e+05,820.0,1.174745e+06,1.601098e+06,1.937641e+06,2.432526e+06
idOffer,887432.0,4.646627e+02,7.174063e+02,1.0,1.000000e+00,1.000000e+00,9.980000e+02,2.015000e+03
idadvertiser,887709.0,1.461383e+05,4.502145e+04,103.0,1.283320e+05,1.610000e+05,1.786100e+05,2.279980e+05
idadvertiser_master,887709.0,1.294918e+05,5.111441e+04,28.0,9.692400e+04,1.414910e+05,1.716000e+05,2.279840e+05
idBusiness,887698.0,8.773853e+03,4.951718e+03,4.0,3.997000e+03,7.300000e+03,1.432700e+04,1.661700e+04
campaign_budget,887709.0,1.194023e+03,2.762814e+03,0.0,3.000000e+02,8.000000e+02,1.498990e+03,3.500000e+05
Retail_Cost,887709.0,1.157559e+03,2.741063e+03,0.0,2.990000e+02,7.500000e+02,1.400000e+03,3.500000e+05
COGS,887709.0,5.218550e+02,1.658578e+03,0.0,7.400000e+01,2.786300e+02,6.148900e+02,2.171401e+05
Overage,887709.0,-1.322790e+01,1.044029e+02,-42120.0,-1.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00
impressions,887709.0,3.387511e+04,1.594925e+05,0.0,0.000000e+00,9.046000e+03,2.731000e+04,3.456128e+07
clicks,887709.0,4.727241e+02,1.227104e+03,0.0,1.100000e+01,1.900000e+02,4.970000e+02,1.083220e+05
CVTs,887709.0,1.420290e+02,2.003347e+03,0.0,0.000000e+00,2.000000e+00,1.800000e+01,4.460890e+05
qualified_calls,887709.0,2.018340e+01,1.107100e+02,0.0,0.000000e+00,4.000000e+00,1.800000e+01,2.818800e+04
calls,887709.0,4.183176e+01,2.229168e+02,0.0,1.000000e+00,1.300000e+01,4.200000e+01,6.127600e+04
emails,887709.0,1.743641e+00,1.209748e+01,0.0,0.000000e+00,0.000000e+00,0.000000e+00,2.116000e+03
qualified_web_events,887709.0,9.366241e+00,9.136617e+01,0.0,0.000000e+00,0.000000e+00,3.000000e+00,1.337500e+04
Leads,887709.0,5.294164e+01,2.496726e+02,0.0,2.000000e+00,1.700000e+01,5.100000e+01,6.127600e+04
CPC,671678.0,5.002039e+00,2.597508e+01,0.0,1.515846e+00,3.004020e+00,5.642013e+00,1.086411e+04
CTR,644993.0,4.351290e-02,1.834371e+00,0.0,1.220000e-02,2.220000e-02,3.650000e-02,8.770000e+02
CPL,718268.0,9.658691e+01,2.886734e+02,0.0,1.107651e+01,2.985075e+01,7.894737e+01,5.577470e+04
CTL,718268.0,3.482247e+01,2.164394e+02,0.0,3.337700e+00,8.046450e+00,2.053850e+01,7.184000e+04
Cycle_Number,887705.0,2.409005e+01,2.668416e+01,1.0,5.000000e+00,1.300000e+01,3.400000e+01,2.100000e+02
Advertiser_BC_ID,887698.0,1.707487e+01,7.902511e+00,1.0,1.000000e+01,2.100000e+01,2.200000e+01,3.200000e+01
Advertiser_BSC_ID,887123.0,1.733309e+03,7.915829e+02,100.0,1.008000e+03,2.101000e+03,2.220000e+03,3.301000e+03
BC_ID,887709.0,1.706211e+01,7.919903e+00,1.0,1.000000e+01,2.100000e+01,2.200000e+01,3.200000e+01
Primary_BSC_ID,864879.0,1.740907e+03,7.936812e+02,100.0,1.099000e+03,2.102000e+03,2.224000e+03,3.301000e+03
Secondary_BSC_Count,887709.0,2.293049e-01,1.736493e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,9.500000e+01
BusinessSpecialtyID,360429.0,2.384767e+04,1.138530e+04,1.0,1.728600e+04,2.530100e+04,2.875000e+04,5.032100e+04
Radius_Target_Miles,487098.0,2.188445e+01,1.493909e+01,10.0,1.000000e+01,2.000000e+01,2.500000e+01,1.000000e+02
Population_Target,887590.0,3.031419e+06,5.587754e+06,0.0,3.843520e+05,1.269433e+06,3.195087e+06,1.453497e+08

In [12]:
df[df.campaign_budget == 0]['idadvertiser_master'].shape # How many campaign budgets equal to zero?

(67018,)

We should figure out a way not to delete cases like this:

Cycle----------Budget

1--------------500

2--------------400

3--------------0

4--------------0

5--------------500


LET'S SEE IF WE HAVE EXAMPLES OF IT

In [3]:
# IDs of all advertisers that have budget=0.0 somewhere in their record
zero_ids=df[(df.campaign_budget == 0)][['idadvertiser_master','idadvertiser','idcampaign', 'idcampaign_master','Paid_On', 
                                   'Cycle_Started', 'Cycle_Ended','Cycle_Number', 'campaign_budget']]['idadvertiser_master'].unique()

In [14]:
len(zero_ids)

6374

In [4]:
# IDs off all advertisers with a total of zero for their budget across all cycles
temp=df[df.idadvertiser_master.isin(zero_ids)][['idadvertiser_master','campaign_budget']]. \
groupby(by=['idadvertiser_master'],as_index=False).agg({'campaign_budget':'sum'})

total_zero_budget_ids=temp[temp['campaign_budget']==0]['idadvertiser_master'].unique()

In [5]:
len(total_zero_budget_ids)

1189

In [6]:
# Drop them all!!!!
df=df[~(df.idadvertiser_master.isin(total_zero_budget_ids))]

In [7]:
df.isna().sum()

idcampaign                             0
idcampaign_master                      0
idOffer                              277
Offer_Name                           436
Finance_Product                      436
idadvertiser                           0
idadvertiser_master                    0
Advertiser_URL                     33139
idBusiness                            11
Channel                               11
Country                               11
Currency                              11
campaign_budget                        0
Retail_Cost                            0
COGS                                   0
Overage                                0
impressions                            0
clicks                                 0
CVTs                                   0
qualified_calls                        0
calls                                  0
emails                                 0
qualified_web_events                   0
Leads                                  0
CPC                               200074
CTR                               211107
CPL                               165591
CTL                               165591
Paid_On                              278
Cycle_Started                        279
Cycle_Ended                        17799
MCID_Started                           4
Cycle_Number                           4
Advertiser_BC_ID                      11
Advertiser_BusinessCategory           11
Advertiser_BSC_ID                    496
Advertiser_BusinessSubCategory       496
BC_ID                                  0
BusinessCategory                       0
Primary_BSC_ID                      9561
Primary_BusinessSubCategory         9561
Secondary_BSC_Count                    0
Secondary_BSC_IDs                 756908
Seconardy_BSCs                    756908
BusinessSpecialtyID               512682
BusinessSpecialty                 512682
TargetType                             0
Radius_Target_Address             369235
Radius_Target_Miles               369002
Cities_Targetd                    292958
DMAs_Targeted                      45414
Population_Target                    118
dtype: int64

In [8]:
# Drop the "unnecessary" columns (for now)

df.drop(columns=['BC_ID','BusinessCategory', 'Primary_BSC_ID', 'Primary_BusinessSubCategory',
                'Secondary_BSC_Count','Secondary_BSC_IDs','Seconardy_BSCs','BusinessSpecialtyID',
                'BusinessSpecialty'], axis=1, inplace=True)

## Let's look at the fishy stuff.

In [9]:
# CPL an CTL have exactly the same number of missing values. Check and see if this is because of the 
# product type.

# Check to see if they're are missing at the exact same locations:

print( (((np.isnan(df.CTL)) & (np.isnan(df.CPL))).sum()) == df.CTL.isna().sum() )

temp=df[['idadvertiser_master', 'idOffer', 'Offer_Name','CPL', 'CTL']]

temp[np.isnan(temp.CTL)]['idadvertiser_master'].nunique()

True

17848

In [10]:
df.idadvertiser_master.nunique()

36853

In [11]:
# Quite a lot of the data is missing from CPL and CLT. For about half of the 
# advertisers, this data is missing. Check what they are. For the time 
# being let's drop them. Same thing with CPC and CTR

In [12]:
df.drop(columns=['CTL', 'CPL','CPC', 'CTR'], axis=1, inplace=True)

In [13]:
#df.isna().sum()

In [14]:
# Dealing with Offer, Finance Product, idOffer (There are only a few of them?)

missing_offer_ids=df[df.Offer_Name.isna()]['idadvertiser_master'].unique()

# Check to see if their are missing at the exact same locations:

df=df[~df.idadvertiser_master.isin(missing_offer_ids)]

In [15]:
df.isna().sum()

idcampaign                             0
idcampaign_master                      0
idOffer                                0
Offer_Name                             0
Finance_Product                        0
idadvertiser                           0
idadvertiser_master                    0
Advertiser_URL                     33100
idBusiness                            11
Channel                               11
Country                               11
Currency                              11
campaign_budget                        0
Retail_Cost                            0
COGS                                   0
Overage                                0
impressions                            0
clicks                                 0
CVTs                                   0
qualified_calls                        0
calls                                  0
emails                                 0
qualified_web_events                   0
Leads                                  0
Paid_On                                1
Cycle_Started                          2
Cycle_Ended                        17455
MCID_Started                           0
Cycle_Number                           0
Advertiser_BC_ID                      11
Advertiser_BusinessCategory           11
Advertiser_BSC_ID                    496
Advertiser_BusinessSubCategory       496
TargetType                             0
Radius_Target_Address             367666
Radius_Target_Miles               367433
Cities_Targetd                    291855
DMAs_Targeted                      45288
Population_Target                    117
dtype: int64

In [16]:
# Create a duration column. For missing values, one option is to replace with the average 
# campaign duration of a given advertiser--> Local!
# However we're not sure why the cycle is missing an end date. Is that churn?
df['Cycle_Started']=pd.to_datetime(df.Cycle_Started, format='%Y-%m-%d',  errors='ignore')
df['Cycle_Ended']=pd.to_datetime(df.Cycle_Ended, format='%Y-%m-%d',  errors='ignore')
df['cycle_duration']=pd.to_timedelta(df['Cycle_Ended']-df['Cycle_Started']).astype('timedelta64[D]')

In [27]:
df[np.isnan(df.cycle_duration)][['idadvertiser', 'campaign_budget','Cycle_Started', 'Cycle_Ended','cycle_duration']]

,idadvertiser,campaign_budget,Cycle_Started,Cycle_Ended,cycle_duration
15,77235,1500.0,2010-09-01,NaT,NaN
69,73755,600.0,2017-03-31,NaT,NaN
273,6403,600.0,2011-07-26,NaT,NaN
1007,126922,200.0,2012-07-16,NaT,NaN
1059,126704,0.0,2012-08-13,NaT,NaN
1060,126704,0.0,2012-08-13,NaT,NaN
1061,126704,0.0,2012-08-13,NaT,NaN
1062,126704,0.0,2012-08-13,NaT,NaN
1067,85094,0.0,2012-08-13,NaT,NaN
1068,85094,0.0,2012-08-13,NaT,NaN
1069,85094,0.0,2012-08-13,NaT,NaN
1070,85094,0.0,2012-08-13,NaT,NaN
1087,109983,0.0,2012-08-13,NaT,NaN
1088,109983,0.0,2012-08-13,NaT,NaN
1089,109983,0.0,2012-08-13,NaT,NaN
1090,109983,0.0,2012-08-13,NaT,NaN
1095,87062,0.0,2012-08-13,NaT,NaN
1096,87062,0.0,2012-08-13,NaT,NaN
1097,87062,0.0,2012-08-13,NaT,NaN
1098,87062,0.0,2012-08-13,NaT,NaN
1129,78674,0.0,2012-08-14,NaT,NaN
1130,78674,0.0,2012-08-14,NaT,NaN
1131,78674,0.0,2012-08-14,NaT,NaN
1132,78674,0.0,2012-08-14,NaT,NaN
1148,35458,0.0,2012-08-17,NaT,NaN
1149,35458,0.0,2012-08-17,NaT,NaN
1150,35458,0.0,2012-08-17,NaT,NaN
1151,35458,0.0,2012-08-17,NaT,NaN
1159,118960,1800.0,2017-12-29,NaT,NaN
1168,110660,0.0,2012-08-27,NaT,NaN
...,...,...,...,...,...
852911,227651,800.0,2017-12-31,NaT,NaN
852912,181762,399.0,2017-12-31,NaT,NaN
852913,182036,199.0,2017-12-31,NaT,NaN
852914,182373,399.0,2017-12-31,NaT,NaN
852915,182808,99.0,2017-12-31,NaT,NaN
852917,183944,199.0,2017-12-31,NaT,NaN
852918,184239,99.0,2017-12-31,NaT,NaN
852919,185687,0.0,2017-12-31,NaT,NaN
852920,185687,0.0,2017-12-31,NaT,NaN
852921,185687,0.0,2017-12-31,NaT,NaN
852922,185719,199.0,2017-12-31,NaT,NaN
852923,185822,2500.0,2017-12-31,NaT,NaN
852924,186752,2000.0,2017-12-31,NaT,NaN
852925,187101,199.0,2017-12-31,NaT,NaN
852926,187502,99.0,2017-12-31,NaT,NaN
852927,187960,1299.0,2017-12-31,NaT,NaN
852928,187992,89.0,2017-12-31,NaT,NaN
852929,198162,199.0,2017-12-31,NaT,NaN
852931,190538,99.0,2017-12-31,NaT,NaN
852932,190819,199.0,2017-12-31,NaT,NaN
852933,191569,800.0,2017-12-31,NaT,NaN
852934,191685,800.0,2017-12-31,NaT,NaN
852935,192386,99.0,2017-12-31,NaT,NaN
852936,192467,89.0,2017-12-31,NaT,NaN
852937,195259,99.0,2017-12-31,NaT,NaN
852938,195555,199.0,2017-12-31,NaT,NaN
852939,196058,399.0,2017-12-31,NaT,NaN
852940,196197,249.0,2017-12-31,NaT,NaN
852941,185943,1500.0,2017-12-31,NaT,NaN
852944,188880,6000.0,2017-12-31,NaT,NaN

In [26]:
df.reset_index(inplace=True,drop=True)

There are campaigns where the budget is zero and duration is NaN. This is probably churn. They may come back later but we don't have that data.
There are campaigns for which duratio is NaN but it's because the campaign started on 2017-12-31 and that's the cut off for the dataset. For these, let's replace the duration with the average.

In [17]:
# Create a table with all the non-zero campaign durations
temp=df[~np.isnan(df.cycle_duration)][['idadvertiser', 'cycle_duration']]

In [18]:
temp.shape

(835489, 2)

In [20]:
# Aggregate based on advertiser_id (not master) and average
temp=temp.groupby(by=['idadvertiser'], as_index=False).agg({'cycle_duration':'mean'})

In [21]:
# Keep the advertiser ids
ids=temp.idadvertiser.unique()

In [30]:
# temp2=df[np.isnan(df.cycle_duration)][['idadvertiser', 'cycle_duration']]

# temp2.shape

# temp.shape

True

In [118]:
len(df.columns)

37

In [34]:
# This is where the magic happens. Loop through all the ids from the last step,
# the if there is an id for which there are cycles with missing length and started 
# on the last day of December, swap it witht average
for i in range(0,df.shape[0]):
    id = df.iloc[i,5] # 5 correspondes to idadvertiser
    if id in ids:
        if ( (pd.isnull(df.iloc[i,36])) & (df.iloc[i,25]==pd.to_datetime('2017-12-31 00:00:00')) ):
            df.iloc[i,36]=temp[temp.idadvertiser==id]['cycle_duration'].values[0] # 5 correspondes to duration

In [39]:
# It apparenly did nohing :D

# Better still, drop those instnces where the campaign began on the last day of the year
df= df[~(df['Cycle_Started']==pd.to_datetime())]

In [40]:
df.isna().sum()

idcampaign                             0
idcampaign_master                      0
idOffer                                0
Offer_Name                             0
Finance_Product                        0
idadvertiser                           0
idadvertiser_master                    0
idBusiness                            11
Channel                               11
campaign_budget                        0
Retail_Cost                            0
COGS                                   0
Overage                                0
impressions                            0
clicks                                 0
CVTs                                   0
qualified_calls                        0
calls                                  0
emails                                 0
qualified_web_events                   0
Leads                                  0
Paid_On                                1
Cycle_Started                          2
Cycle_Ended                        16868
MCID_Started                           0
Cycle_Number                           0
Advertiser_BC_ID                      11
Advertiser_BusinessCategory           11
Advertiser_BSC_ID                    495
Advertiser_BusinessSubCategory       495
TargetType                             0
Radius_Target_Address             367375
Radius_Target_Miles               367142
Cities_Targetd                    291638
DMAs_Targeted                      45268
Population_Target                    117
cycle_duration                     16869
dtype: int64

In [41]:
df[pd.isnull(df['Cycle_Started'])]

,idcampaign,idcampaign_master,idOffer,Offer_Name,Finance_Product,idadvertiser,idadvertiser_master,idBusiness,Channel,campaign_budget,...,Advertiser_BusinessCategory,Advertiser_BSC_ID,Advertiser_BusinessSubCategory,TargetType,Radius_Target_Address,Radius_Target_Miles,Cities_Targetd,DMAs_Targeted,Population_Target,cycle_duration
703716,2269166,2184116,1.0,Search Engine Marketing,Search,189279,112818,14414.0,National,1000.0,...,Health & Fitness,2015.0,Health Clubs & Gyms,Radius,1 Federation Way,10.0,Irvine; Laguna Beach; Lake Forest; El Toro; Wo...,Los Angeles,1413512.0,NaN
763413,2334168,2097772,1.0,Search Engine Marketing,Search,51781,47820,4263.0,DirectLocal,1000.0,...,Industrial & Commercial,1014.0,Retail Equipment & Supplies,Radius,123 Main Street,60.0,Vero Beach; Tropic; Dania Beach; Pompano Beach...,West Palm Beach-Fort Pierce; Miami-Fort Lauder...,2432921.0,NaN

In [114]:
df.loc[1,'idadvertiser']

72823

##### We need to create a target column. Flowing what Keri did in the past, there are a number of categories:
##### - Churn: Went away and never came back
##### - Change up: increased the budget
##### - Change down: decreased the budget
##### - Idle up: came back after a period of inactivity
##### - Idle down: Not too sure what this is.

##### The problem is that Keri's table breaks everything down to months. So it's possible to track a single campaign month to month. 
##### This data is rolled up. So for the time being let's do a binarychurn column.

##### We also need to detect seasonal behavior. If it's typical for an adveriser to go MIA from time to time then it's not churm.

In [ ]:
# To check if seasonality exists, we need to bring in statsmodels.tsa.stattools.acf then pass to it 
# all those advertisers/master advertisers where there is a zero somewhere in their budgets and 
# and count the number of significant periods.

In [61]:
from statsmodels.tsa.stattools import acf

In [62]:
temp = df[df.campaign_budget==0]

In [63]:
adv_ids=temp.idadvertiser.unique()

In [64]:
df['zero_budget_seasonal']=0

In [65]:
for id in adv_ids:
    temp=df[df.idadvertiser==id][['Cycle_Number', 'campaign_budget']]
    index_list=df.index[df.idadvertiser==id].tolist()
    temp.sort_values(by=['Cycle_Number'], inplace=True)
    signal_length=temp.shape[0]
    if signal_length < 2:
        continue
    else:
        my_acf, conf=acf(temp.campaign_budget, nlags= signal_length-1, alpha=0.05)
        counter=-1 # To take care if lag = 0
        for i in range(0,len(my_acf)):
            if (my_acf[i] >=0):
                if my_acf[i]>=conf[i][1]:
                    counter +=1
            else:
                if my_acf[i] <= conf[i][0]:
                    counter+=1

        if counter >=0:
            df.loc[index_list,'zero_budget_seasonal']=1

/home/farshad/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/stattools.py:476: RuntimeWarning: invalid value encountered in true_divide
  acf = avf[:nlags + 1] / avf[0]

In [66]:
df[df.zero_budget_seasonal==1]['idadvertiser'].nunique()

5217

In [67]:
len(adv_ids)

5432

In [58]:
df.shape

(852331, 38)

In [68]:
df.to_csv('../data/zero_budget.csv', index=False)

In [23]:
test_df=df.iloc[0:10,:]

temp=pd.to_datetime(test_df.Cycle_Started, format='%Y-%m-%d',  errors='ignore')

cycle=temp.map(lambda x: x.month)

test_df['cycle_start_month']=pd.DataFrame(data=cycle, index=test_df.index)



temp=pd.to_datetime(test_df.Cycle_Ended, format='%Y-%m-%d',  errors='ignore')

cycle=temp.map(lambda x: x.month)

test_df['cycle_end_month']=pd.DataFrame(data=cycle, index=test_df.index)

/home/farshad/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/home/farshad/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [28]:
test_df['duration']=pd.to_timedelta(test_df['cycle_end_month']-test_df['cycle_start_month']).astype('timedelta64[m]')

/home/farshad/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [40]:
test_df=df.iloc[0:10,:]

test_df['Cycle_Started']=pd.to_datetime(test_df.Cycle_Started, format='%Y-%m-%d',  errors='ignore')
test_df['Cycle_Ended']=pd.to_datetime(test_df.Cycle_Ended, format='%Y-%m-%d',  errors='ignore')
test_df['duration']=pd.to_timedelta(test_df['Cycle_Ended']-test_df['Cycle_Started']).astype('timedelta64[D]')

/home/farshad/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/farshad/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/home/farshad/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [41]:
test_df.duration

0      28.0
1    1546.0
2    2098.0
3    1609.0
4    2583.0
5    1894.0
6      30.0
7    2499.0
8    1279.0
9    1843.0
Name: duration, dtype: float64

In [43]:
test_df.describe().T

,count,mean,std,min,25%,50%,75%,max
idcampaign,10.0,4.782424e+05,1.259628e+05,167394.000000,432396.000000,523679.500000,5.578058e+05,5.875680e+05
idcampaign_master,10.0,4.321388e+05,1.510592e+05,160659.000000,414758.000000,490285.000000,5.268795e+05,5.875680e+05
idOffer,10.0,2.104000e+02,3.045154e+02,1.000000,2.000000,5.000000,3.080000e+02,7.810000e+02
idadvertiser,10.0,7.255890e+04,3.583866e+04,31440.000000,42805.750000,75119.500000,8.421725e+04,1.513950e+05
idadvertiser_master,10.0,6.524360e+04,2.319416e+04,31440.000000,42805.750000,75119.500000,8.227400e+04,8.630500e+04
idBusiness,10.0,5.158600e+03,3.265576e+03,3467.000000,3629.500000,3878.000000,4.572250e+03,1.410900e+04
campaign_budget,10.0,9.950000e+02,9.056765e+02,0.000000,500.000000,550.000000,1.375000e+03,3.100000e+03
Retail_Cost,10.0,1.382760e+02,2.242815e+02,0.000000,0.000000,0.000000,2.987775e+02,5.110600e+02
COGS,10.0,4.071500e+01,6.963953e+01,0.000000,0.000000,0.000000,7.203000e+01,1.916500e+02
Overage,10.0,-2.781800e+01,5.266776e+01,-139.450000,-13.197500,0.000000,0.000000e+00,0.000000e+00
impressions,10.0,2.650600e+03,4.810352e+03,0.000000,0.000000,0.000000,2.828250e+03,1.307800e+04
clicks,10.0,8.670000e+01,2.336855e+02,0.000000,0.000000,0.000000,1.725000e+01,7.460000e+02
CVTs,10.0,1.500000e+00,2.798809e+00,0.000000,0.000000,0.000000,1.500000e+00,8.000000e+00
qualified_calls,10.0,2.000000e+00,2.000000e+00,0.000000,0.000000,2.000000,3.750000e+00,5.000000e+00
calls,10.0,1.867000e+02,3.425986e+02,0.000000,3.000000,24.000000,1.182500e+02,9.770000e+02
emails,10.0,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00
qualified_web_events,10.0,5.000000e-01,1.581139e+00,0.000000,0.000000,0.000000,0.000000e+00,5.000000e+00
Leads,10.0,1.872000e+02,3.423140e+02,0.000000,4.250000,24.000000,1.182500e+02,9.770000e+02
CPC,3.0,8.776157e+00,1.048656e+01,0.534008,2.874453,5.214898,1.289723e+01,2.057956e+01
CTR,3.0,2.846667e-02,2.738345e-02,0.002400,0.014200,0.026000,4.150000e-02,5.700000e-02
CPL,8.0,6.209776e+00,1.298118e+01,0.000000,0.000000,0.000000,3.655907e+00,3.650429e+01
CTL,8.0,3.793462e+00,8.257906e+00,0.000000,0.000000,0.000000,1.776400e+00,2.331250e+01
Cycle_Number,10.0,3.600000e+00,6.168018e+00,1.000000,1.000000,1.500000,2.750000e+00,2.100000e+01
Advertiser_BC_ID,10.0,1.340000e+01,7.988881e+00,4.000000,5.000000,14.000000,2.075000e+01,2.400000e+01
Advertiser_BSC_ID,10.0,1.366800e+03,8.088639e+02,404.000000,527.500000,1407.500000,2.133500e+03,2.413000e+03
BC_ID,10.0,1.340000e+01,7.988881e+00,4.000000,5.000000,14.000000,2.075000e+01,2.400000e+01
Primary_BSC_ID,9.0,1.338444e+03,8.514777e+02,404.000000,436.000000,1208.000000,2.173000e+03,2.408000e+03
Secondary_BSC_Count,10.0,4.000000e-01,6.992059e-01,0.000000,0.000000,0.000000,7.500000e-01,2.000000e+00
BusinessSpecialtyID,6.0,2.680700e+04,1.973230e+04,2318.000000,12954.500000,24942.000000,4.381225e+04,4.957900e+04
Radius_Target_Miles,3.0,1.666667e+01,7.637626e+00,10.000000,12.500000,15.000000,2.000000e+01,2.500000e+01
Population_Target,10.0,2.781366e+06,3.853473e+06,0.000000,12882.250000,840685.500000,5.520074e+06,9.521237e+06
duration,10.0,1.540900e+03,8.928838e+02,28.000000,1345.750000,1726.000000,2.047000e+03,2.583000e+03